

    body{
      
        margin: 0;
        background: #fbf6f6;
    
    }
    /*nav*/
    
    
    .section-p1{
        padding: 40px 80px;
    }
    
    .section-m1{
        margin: 40px 0;
    }
    
    
    /*header start*/
    
    #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 80px;
        background: #E3E6F3;
        box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
    }
    
    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #navbar li{
        list-style: none;
        padding: 0 20px ;
        position: relative;
    }
    
    #navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.3s ease;
        padding: 15px;/*new*/
        display: block;/*new*/
    }
    
    #navbar li ul{/*new*/
        position: absolute;
        left: 0;
        width: 200px;
        background: #E3E6F3;
        display: none;
    }
    
    #navbar li ul li{/*new*/
        width: 100%;
        border-top: 1px solid rgba(0,0,0, 0.02);
    }
    
    #navbar li:focus-within  ul,/*new*/
    #navbar li:hover > ul{
         display: initial;
    }
    
    #navbar li a:hover,
    #navbar li a:active{
        color: #088178;
    }
    
    #navbar li a.active::after,
    #navbar li a:hover::after{
        content: "";
        width: 30%;
        height: 2px;
        background: #088178;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }
    
    #mobile{
        display:none;
        align-items: center;
    }
    
    #close{
        display: none;
    }
    
    @media (max-width:799px) {

    .section-p1{
       padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.01);
        padding: 80px 0 0 10px ;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar li ul{/*new*/
         position: relative;
         width: 100%;
    }

    #navbar li ul li{/*new*/
        background: #E3E6F3;
    }

    #mobile{
        display:flex;
        align-items: center;
        
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left:20px ;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #hero{
         
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
    }

    #product1 .pro-container{
        justify-content:center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #newsletter .form{
        width: 70%;
    }
}


    /*section1 header*/

 .cc{
        font-size: 22px;
        margin-top:-199px;
        padding: 24px;
        color: currentcolor;
        font-family: emoji;
        margin-left:379px;
    }
    @media (max-width:700px) {
    .cc{
    
    
    font-size: 13px;
    color: currentcolor;
    font-family: emoji;
  margin-top:-189px;
margin-left:30%;
}

}
.cima{
width:100%;
height:500px;

}










       /*section2 images and table*/
    
    .im{
    width:500px;
    height:500px;
    padding:10px;
border-radius:15px;

}


.im:hover {

transform:scale(1.2);
cursor: pointer;
}
    .ar,.hr,.ac,.an{background: #673ab71a;
    
        border-left: 8px solid black;
    }
    
.ar{

 font-size:30px;
    margin-top: 50px;
        padding: 10px;
   font-family: emoji;

}


    pre{
    font-size:30px;
    margin-top: 38px;
        padding: 10px;
   font-family: emoji;
 }
    
     
    
    
    
    .one{
    width:100%;
    height:263px;
    
        margin: auto;
        padding: 10px;
    
    }
    
   
    
    table {
        width: 600px;
        height:500px;
     margin-top: -515px;
    margin-left: 590px;
        direction: rtl;}
    th{
        border: 2px solid #ddd;
        text-align: center;
        font-size: 37px;
      width: 400px;
    }
    td{
        position: relative;
        left: 0px;
        border: 2px solid #ddd;
        text-align: center;
        width: 200px;
      font-size: 27px;
    }
    .checked{
    color:orange;
    }




    
@media(max-width:700px){

table{

        width: 500px;
        height:470px;
       margin-top: 11px;
    margin-left:9px;
        direction: rtl;}


    
    .im{
       margin-top: 170px;
        padding: 10px;
    left:30px;
    width:426px;
    height:470px;
    
    }}


  iframe{
       width:700px;
       height:426px;
        top: -84px;
        padding: 27px;
        margin: 10px;}

@media(max-width:700px){

 iframe{
        height:426px;
        width:500px;
        top: -84px;
        padding: 27px;
        margin: 10px;}}
    
    .a{position: relative;
    margin-left: 370px;
    top: -63px;
    margin-top: -3px;
    }
    

  .af{
       position: relative;
       left: 50px;
       top: -67px;
       margin-left: 310px;
       margin-top: -35px;}
 


@media(max-width:700px){
    
    .af{
       position: relative;
       left: 50px;
       top: -67px;
       margin-left: 310px;
       margin-top: -35px;}}
 







.a2{
     
        margin-left: 222px;
       margin-top: -27px;
       position: relative;
        left: 140px;
        top: -63px;}




@media(max-width:700px){
    
    .a2{
       margin-left: 222px;
       margin-top: -27px;
       position: relative;
        left: 140px;
        top: -63px;}
    }












    .f{

 margin-left: 182px;
    position: relative;
    top: -63px;
    left: 190px;}
@media(max-width:700px){
    
    .f{
      margin-left: 182px;
    position: relative;
    top: -63px;
    left: 190px;}}
 
  .d{margin-left: 365px;
    margin-top: -7px;
    position: relative;
    top: -65px;
    left:10px;}


    @media(max-width:700px){
    
    .d{margin-left: 365px;
    margin-top: -7px;
    position: relative;
    top: -65px;
    left:10px;
}}
      

.ap{

position: relative;
    margin-left: 385px;
    margin-top: -108px;
    top: -64px;
}
 @media(max-width:700px){
ap{

position: relative;
    margin-left: 385px;
    margin-top: -108px;
    top: -64px;
}}
 
    
.tom{
position: relative;
    margin-left: 385px;
    margin-top: -108px;
    top: -64px;



}



    @media(max-width:700px){


.tom{
position: relative;
    margin-left: 385px;
    margin-top: -108px;
    top: -64px;
}}



.s{
position: relative;
    margin-left: 371px;
    margin-top: -108px;
    top: -99px;}




    
    
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color:#E3E6F3;
    }
     .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    footer h4{
        font-size: 14px;
        padding-bottom: 20px;
    }
    
    footer p{
        font-size: 13px;
        margin: 0 0 8px 0;
    }
    
    footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }
    
    footer .follow{
        margin-top: 20px;
    
    }
    
    footer .follow i{
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }
    
    footer .follow i:hover,
    footer a:hover{
        color: #088178;
    }
    
     .copyright{
        width: 100%;
        text-align: center;
    }
    
    
    
    
    @media  (max-width:477px) {
    
        .section-p1{
            padding: 20px;
        }
    
     footer .copyright{
       
        text-align: center;
    } }        