.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*header start*/


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    padding: 15px;
    /*new*/
    display: block;
    /*new*/
}

#navbar li ul {
    /*new*/
    position: absolute;
    left: 0;
    width: 200px;
    background: #E3E6F3;
    display: none;
}

#navbar li ul li {
    /*new*/
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.02);
    position: relative;
    right: 15px;
}

#navbar li:focus-within>ul,
/*new*/
#navbar li:hover>ul {
    display: initial;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}
@media (max-width:799px) {

    .section-p1{
       padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.01);
        padding: 80px 0 0 10px ;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar li ul{/*new*/
         position: relative;
         width: 100%;
    }

    #navbar li ul li{/*new*/
        background: #E3E6F3;
    }

    #mobile{
        display:flex;
        align-items: center;
        
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left:20px ;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #hero{
         
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
        
    }

    #product1 .pro-container{
        justify-content:center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #newsletter .form{
        width: 70%;
    }
}

.elect{
    
    background-image: url("../media/electrical-divises/back3.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.Electrical-Devises h1 {

    font-size: 36px;
    color: #b0a6a6;
}

.Electrical-Devises {
    text-align: center;
    background-image: url("../media/electrical-divises/back1.jpg");
    background-position: center;
    background-repeat: no-repeat;
  
    width: 100%;
    height: 77vh;
    background-size: contain;
    

}


.be{
 width: 150px;
}
.ra{
    width: 130px;
}
.shad{
    text-align: center;
    margin-top:100px;
    font-size: 60px;
    text-shadow:10px 1px  #cfcfcfc1;

}
.choose{
    background-color: #0c4b7f;
    font-size: 45px;
    text-align: center;
    display: inline-block;
    padding: 35px;
    margin: 140px;
    transition: 0.7s ease;
    box-shadow: 0 5px 20px gray;
}
.choose a{
    text-decoration:none ;
    color: white;
}
.choose a:hover{
    color:black;
    
}
.choose:hover{
    transform: scale(1.1);
}

#elaraby {
    margin-left: 26px;
    text-align: center;
}

.brands {
    display: flex;
    width: 100%;
   

}
.brands img{
    width: 16.6%;
    padding: 45px; 
}


#btech {
    margin-left: 26px;
    text-align: center;

}


#raia {
    margin-left: 26px;
    text-align: center;
}




.content{
    margin-top: 30px ;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;
    
}


.card{
    background-color: white;
    width: 17em;
    box-shadow: 0 5px 20px gray;
    border-radius: 10px;
    padding: 25px ;
    min-height: 14;
    width: 18em;
    overflow: hidden;
    margin:21px;
    margin-bottom: 70px;
    transition: 0.7s ease;
   

}
.img img{
    width: 100%;
}

.card:hover {
    transform: scale(1.1);
    
}
.card:hover .img{
    opacity: 0.9;
}
.info{
    padding: 1em;
}
.info .buy {
    text-decoration: none;
    color:#E3E6F3;
    background-color: #0c4b7f;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
  /* margin-left: -50px;*/
}

.info .buy:hover{
    color:black;

    
}
.end{
    text-align: center;
    margin-top:100px;
    font-size: 40px;
    text-shadow:10px 1px  #cfcfcfc1;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#E3E6F3;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;

}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}





@media  (max-width:477px) {

    .section-p1{
        padding: 20px;
    }

     
 }


